/* Field wrapper (label + input) */
.field {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  font-size: var(--font-mdl);
}

.field_span {
    /* font-weight: bold; */
}

/* Inputs are visually consistent but still native */
.field input {
  padding: var(--spacing-sm);
  border-radius: var(--radius-md);
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow-lg);
}

.field input:focus {
    outline: 3px solid var(--info-bg);
}